@model IEnumerable<Anyware.Models.ProductInOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductInOrderID }, new { @id = "ganon" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductInOrderID }, new { @id = "ganon" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductInOrderID }, new { @id = "ganon" })
        </td>
    </tr>
}

</table>
